/* ============== STANDART STYLES =============== */

:root {
  --main-logo-color: #4d5ae5;
  --main-color: #404bbf;
  --black-color: #2e2f42;
  --light-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
  --standart-color: #434455;
  --just-white-color: #ffffff;
  --light-slate: #8e8f99;
  --success-color: #31d0aa;
}
body {
  background-color: var(--just-white-color);

  color: var(--standart-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* =============================================== */

/* ===================== MAIN ======================= */

.title {
  color: var(--black-color);
  text-transform: capitalize;
  word-wrap: break-word;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;

  margin: 0;
}

.button {
  /* Text button */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  /* Body button */
  background-color: var(--main-logo-color);
  color: var(--just-white-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus,
.button:hover {
  background-color: var(--main-color);
}

.container {
  width: 100%;
  max-width: 428px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}

.section {
  padding: 96px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 120px 0;
  }
}

.icon {
  height: 100%;
}

/*==================== HEADER ========================*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav-container {
  display: flex;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
}

.nav-logo {
  align-self: center;

  color: var(--main-logo-color);
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
}

.nav-logo > span {
  color: var(--black-color);
}

@media screen and (max-width: 767px) {
  .drop-navigation {
    display: none;
  }

  .nav-container {
    padding: 24px 16px;
    display: flex;
    justify-content: space-between;
  }

  .nav-open-menu {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    box-shadow: 0px 0px 0px;

    display: flex;
    align-items: center;
  }

  .nav-open-menu > .icon {
    width: 32px;
    height: 22px;
    stroke: var(--black-color);
    stroke-width: 3px;

    transition-property: stroke;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-open-menu:hover > .icon,
  .nav-open-menu:focus > .icon {
    stroke: var(--main-logo-color);
  }

  .drop-navigation {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0%;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;

    padding: 80px 40px 40px 40px;

    background-color: var(--just-white-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .nav-link {
    display: block;

    color: var(--black-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
  }

  .contacts-list {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .contacts-link {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--standart-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-link:hover,
  .contacts-link:focus {
    color: var(--main-color);
  }

  .contacts-tel {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    letter-spacing: 0.02em;

    color: var(--main-logo-color);
  }

  .contacts-email {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    letter-spacing: 0.02em;

    /* SLATE */

    color: #434455;
  }

  .drop-menu-contacts {
    margin-top: 48px;
    display: flex;
    gap: 56px;
    flex-wrap: wrap;
  }
}

.is-open {
  display: flex;
}

@media screen and (min-width: 768px) {
  .nav-container {
    justify-content: space-between;
    align-items: center;
  }

  .nav-open-menu {
    display: none;
  }

  .drop-navigation {
    display: flex;
    gap: 121px;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
  }

  .nav-link {
    padding: 24px 0;
    display: block;

    color: var(--black-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--main-color);
  }

  .nav-list .current {
    color: var(--main-color);
    position: relative;
  }

  .nav-list .current::after {
    content: '';
    position: absolute;
    /* bottom: 0%; */
    bottom: -1.5%;
    /* Бордер вытесняет. Это костыль: ИСПРАВИТЬ! */
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    border-radius: 2px;
  }

  .contacts {
    font-style: normal;
  }

  .contacts .nav-list {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .contacts-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
  }

  .contacts-link {
    font-style: normal;
    font-size: 12px;
    line-height: 1.16;
    color: var(--standart-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-link:hover,
  .contacts-link:focus {
    color: var(--main-color);
  }

  .nav-list {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .drop-navigation {
    gap: 332px;
  }

  .contacts-list {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    color: var(--standart-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/*=================== END HEADER =====================*/
/* ===================== HERO ======================= */
.hero {
  text-align: center;
  /* min-width: 428px; */
  width: 100%;
  max-width: 1440px;
  padding: 112px 0;
  margin: 0 auto;

  background-color: var(--black-color);
  color: var(--just-white-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/HeroIm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/HeroIm@x2.jpg');
  }
}

.hero-title {
  color: var(--just-white-color);
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 188px 0;
  }

  .hero-title {
    margin-bottom: 48px;
  }
}
/* ============== INFORMATION ============= */
.information-header {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.information-list > li:not(:first-child) {
  margin-top: 72px;
}

.information-icon {
  display: none;
}

.information-text {
  margin: 0;
  margin-top: 8px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .information-list {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    display: flex;
    flex-wrap: wrap;

    column-gap: 24px;
    row-gap: 72px;
  }

  .information-list > li {
    flex-basis: calc((100% - 1 * 24px) / 2);
  }

  .information-list > li:not(:first-child) {
    margin-top: 0;
  }

  .information-title {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .information-icon {
    height: 112px;
    background-color: var(--light-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .information-icon .icon {
    width: 64px;
    height: 64px;
  }

  .information-list {
    display: flex;
    box-sizing: content-box;
    padding: 0;
  }

  .information-list > li {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .information-title {
    color: var(--black-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 8px;
    margin-bottom: 0;
  }

  .information-text {
    font-weight: 400;
  }
}

/* =============== EXAMPLES ============ */
.examples {
  display: none;
}

/* =============== TEAM ================ */
.team {
  background-color: var(--light-color);
}

.team-list {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-card {
  border-radius: 0 0 4px 4px;
  padding-bottom: 32px;
  max-width: 264px;
  margin: 0 auto;

  background-color: var(--just-white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-name {
  margin: 0;
  margin-top: 32px;

  color: var(--black-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

.team-role {
  margin: 0;
  margin-top: 8px;
  text-align: center;
}

.team-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8px;
  gap: 24px;
}

.team-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--main-logo-color);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon:hover,
.team-icon:focus {
  background-color: var(--main-color);
}

.team-icon .icon {
  fill: var(--light-color);
  width: 16px;
  height: 16px;
}

.team-logo {
  letter-spacing: 0.02em;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    justify-content: center;
  }

  .team-list > li {
    flex-basis: calc((100% - 1 * 24px) / 2);
  }

  .team-card {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    flex-wrap: nowrap;
  }
}
/* ================ CUSTOMERS ============== */

.customers-list {
  margin-top: 72px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  column-gap: 16px;
  row-gap: 72px;
  /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 72px 16px; */
}

.customers-list > li {
  flex-basis: calc((100% - 1 * 16px) / 2);
}

.customers-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px 0px;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  fill: var(--light-slate);

  width: 100%;
  height: 100%;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-logo:hover,
.customers-logo:focus {
  fill: var(--main-color);
  border-color: var(--main-color);
}

.customers-logo > .icon {
  height: 100%;
  max-height: 48px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .customers > .container {
    max-width: 582px;
  }
  .customers-list {
    gap: 72px 24px;
  }

  .customers-list > li {
    max-width: 168px;
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .customers-list {
    flex-wrap: nowrap;
  }
  .customers > .container {
    max-width: 1160px;
  }
}

/* ============== FOOTER ============== */

.footer {
  padding-top: 96px;
  padding-bottom: 96px;

  background-color: var(--black-color);
}

.footer .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-logo-text,
.footer-contacts,
.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-logo {
  color: var(--main-logo-color);
  margin: 0;
}

.footer-logo > span {
  text-transform: uppercase;

  color: var(--light-color);
}

.footer-text {
  margin: 0;
  margin-top: 17px;
  max-width: 268px;
  text-align: start;

  color: var(--footer-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-title {
  font-weight: 500;
  font-size: 16px;
  margin: 0;

  color: var(--just-white-color);
}

.footer-contacts .icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  gap: 16px;
  margin: 0;
  margin-top: 16px;
  padding: 0;
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--main-logo-color);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon:hover,
.footer-icon:focus {
  background-color: var(--success-color);
}

.footer-icon .icon {
  width: 24px;
  height: 24px;
  fill: var(--light-color);
}

.footer-form {
  margin-top: 16px;
  width: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 16px;
}

.footer-label {
  width: 100%;
  height: 40px;

  padding: 8px 16px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;

  letter-spacing: 0.04em;

  border: 1px solid var(--just-white-color);
  background-color: transparent;
  color: var(--just-white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form > input::placeholder {
  color: var(--just-white-color);
}

.footer-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;

  width: 165px;
  min-height: 40px;

  /* IRIS */

  background: #4d5ae5;
  border-radius: 4px;
}

.footer-form-button > .icon {
  width: 24px;
  height: 20px;
  fill: var(--just-white-color);
}

.logo-contacts {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 584px;
    row-gap: 72px;
    column-gap: 24px;
  }
  .footer .container > div {
  }

  .footer-contacts {
    align-items: start;
    justify-content: start;
  }
  .footer-contacts .icons {
    flex-wrap: nowrap;
  }

  .footer-logo {
    align-self: start;
  }

  .footer-subscribe {
    align-items: start;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-label {
    width: 264px;
  }

  .footer-text {
    margin-bottom: 0;
  }

  .logo-contacts {
    flex-direction: row;
    gap: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    padding: 0;
    max-width: 1128px;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 120px 80px;
  }

  .footer-subscribe {
    justify-content: start;
  }

  .logo-contacts {
    gap: 120px;
  }
}

/* ============ BACKDROP ============ */
.backdrop {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 408px;
  transform: translate(-50%, -50%);

  padding: 72px 16px 24px;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fcfcfc;
}

.modal-text {
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-bottom: 8px;
}

.modal-form > input {
  width: 100%;
  max-width: 360px;
  height: 40px;
  margin-top: 4px;
  padding-left: 38px;
  outline: none;
  border: 1px solid;
  border-color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form > svg {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 55%;
  margin-left: 19px;
  fill: var(--black-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form > input:focus {
  border-color: var(--main-logo-color);
}

.modal-form > input:focus + svg {
  fill: var(--main-logo-color);
}

.modal-form-tel > svg {
  width: 13px;
  height: 13px;
}

.modal-form-email > svg {
  width: 16px;
  height: 12px;
  margin-left: 17px;
}

.modal-form > textarea {
  margin-top: 4px;
  resize: none;
  width: 100%;
  max-width: 360px;
  height: 120px;
  padding: 8px 16px;
  outline: none;

  border: 1px solid;
  border-color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment {
  margin-bottom: 16px;
}

.modal-form-comment > textarea:focus {
  border-color: var(--main-logo-color);
}

.modal-form-comment > textarea::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;

  letter-spacing: 0.04em;

  color: rgba(46, 47, 66, 0.4);
}

.modal-form-licension,
.modal-form {
  font-size: 12px;
  line-height: 1.166;

  letter-spacing: 0.01em;

  color: var(--light-slate);
}

.modal-form-licension {
  display: flex;
  align-items: center;

  margin: 0;
  margin-bottom: 24px;
  letter-spacing: 0.04em;

  gap: 8px;

  user-select: none;
}

.modal-form-licension > input {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form-licension > .licension-icon {
  width: 16px;
  height: 16px;
  fill: white;
  background-color: white;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition-property: fill, background-color, border-color;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-licension > input:checked + .licension-icon {
  fill: var(--light-color);
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.modal-policy-link {
  text-decoration: underline;
  color: var(--main-logo-color);
}

.modal-button-send {
  display: block;

  gap: 10px;

  width: 169px;
}

.modal-button-send:focus,
.modal-button-send:hover {
  background-color: #404bbf;
}

.modal-button {
  width: 24px;
  height: 24px;
  background-color: var(--footer-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 32px;
  top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-property: fill, background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.js-close-menu {
  background-color: var(--footer-text-color);
  right: 24px;
  top: 24px;
}

@media screen and (min-width: 768px) {
  .js-close-menu,
  .drop-menu-contacts.list {
    display: none;
  }
}

.modal-button > svg {
  width: 8px;
  height: 8px;
  fill: var(--black-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.modal-button:hover > svg,
.modal-button:focus > svg {
  fill: var(--just-white-color);
}

@media screen and (min-width: 768px) {
  .nav-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .nav-link {
    padding: 24px 0;
    display: block;

    color: var(--black-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--main-color);
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  .nav-list .current {
    color: var(--main-color);
    position: relative;
  }

  .nav-list .current::after {
    content: '';
    position: absolute;
    /* bottom: 0%; */
    bottom: -1.5%;
    /* Бордер вытесняет. Это костыль: ИСПРАВИТЬ! */
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    border-radius: 2px;
  }

  .contacts {
    font-style: normal;
  }
}
